:root{
    --plain-white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    background-color: var(--light-gray);
}

main{
    margin:80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    margin-top: 10px;
    font: size 1.em;
    font-weight: 700;
    text-align:center;
    background-color: inherit;
}

p{
    margin: 10px 0;
    font-weight: 400;
    color: var(--grayish-blue);
    background-color: inherit;
    text-align:center;
}

.qrcode-img{
    width: 200px;
    border-radius: 5px;
}

.qr-code {
    background-color: var(--plain-white);
    padding: 10px;
    border-radius: 10px;
    max-width: 220px;
}
